<html>
    <head>
        <title>Item Posting</title>
    </head>
    <body>
    	<div class="container">
    		<form method="POST">
    			<label for="productName">Product Name:</label>
    			<input type="text" name="productName">
    			<br>
    			<label>Product Type:</label>
    			<input type="text" name="productType">
    			<br>
    			<label>Product Description:</label>
    			<input type="text" name="productDesc">
    			<label>Meet-up location:</label>
                <input type="text" name="meetup">
                <br>
                <input type="submit" value="Submit">
    		</form>
    	</div>
    </body>
</html>