<!DOCTYPE html>

<html>
<head>
<title>View bids</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script 
src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
crossorigin="anonymous"></script>

<script 
src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
crossorigin="anonymous">    
</script>

</head>
<body>


    <h1> Hello, welcome {{ userID }}</h1>
    <br>
    <a href="recent_products.html"> View all recents products</a>
    <a href="view_offers.html"> View offers for your products</a>
    <a href="bid_status.html"> View your bids status </a>
    <a href="posting.html"> Search for a products</a>
    <a href="posting.html"> Post a new product</a>



</body>
</html>


