<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Product Information</title>

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template -->
  <style type="text/css">
    body {
      padding-top: 56px;
    }
    .navbar{
      height: 5em;
    }
    .side-bar-right, .side-bar-left{
      margin-top: 3em;
    }
    .searchbar{
      padding-left: 14em;
    }
    input[type=text] {
      padding: 6px;
      border: none;
      margin-top: 8px;
      font-size: 17px;
      width: 20em;
    }
    .search-container button {
      float: right;
      padding: 6px;
      margin-top: 8px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }

    .search-container button:hover {
      background: #ccc;
    }
    .btn{
      padding: 6px;
      margin-left: -5px;
      vertical-align: unset;
    }
    .bid-btn{
      margin-top: 1em;
    }
    .list-group{
      margin-top: 1.5em;
    }
    #placebid{
      text-decoration: non;
      color: white;
    }
  </style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/homepage">ESELL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <div class="searchbar">
          <input type="text" placeholder="Search..">
          <button class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
        </div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Welcome {{userID}}
              <span class="sr-only">(current)</span>
            }
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3 side-bar-left">
        <div class="list-group">
          <a href="#" class="list-group-item active">Post new product</a>
          <a href="#" class="list-group-item">View bids you offered</a>
          <a href="#" class="list-group-item">View bids offered for you</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->
      <div class="col-lg-9 side-bar-right">

        <div class="card mt-4 product-info">
          
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <!-- <img src="img/sanitizer.png" width="800">
           -->
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>

          <div class="card-header">
            Comment
          </div>
          <div class="card-body">
            <script async src="https://comments.app/js/widget.js?2" data-comments-app-website="TJCRWAtq" data-limit="5"></script>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr> -->
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
            <hr> -->
            <a href="#" class="btn btn-success">Leave a Review</a>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript">
    let allItems;
    var product = JSON.parse('{{ product_info | tojson | safe}}');
    for (obj of product.product) {
      let item =
        "<img class='card-img-top img-fluid' src='http://placehold.it/900x400' alt=''>" +
          "<div class='card-body'>" +
            "<h3 class='card-title'>"+ obj.productName+"</h3>" +
            "<h5>"+ obj.meetup+"</h5>" + 
            "<p class='card-text'>"+ obj.productDesc+"</p>" +
            "<br>" + 
            "<button class='btn btn-danger bid-btn'><a id='placebid' href='/place_bid/" + obj.sellerID+ "/"+obj.productID +"'>Bid for product</a></button>" +
          "</div>";
        allItems += item;
      $(".mt-4").append(item);     
    }
  </script>

</body>

</html>