<html>
    <head>
        <title>Item Posting</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
    	<div class="container">
    		<form method="POST">
                <div class="form-group">
                    <label for="productName">Product Name:</label>
                    <input class="form-control" type="text" name="productName">
                </div>
                <div class="form-group">
                   <label>Product Type:</label>
                    <input type="text" class="form-control" name="productType"> 
                </div>
    			<div class="form-group">
                    <label>Product Description:</label>
                    <input class="form-control" type="text" name="productDesc">
                </div>
    			<div class="form-group">
                    <label>Meet-up location:</label>
                    <input class="form-control" type="text" name="meetup">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
    		</form>
    	</div>
    </body>
</html>